<div class="map" leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl"
     (leafletClick)="onClickOnMapEvent($event)" (leafletMapReady)="onMapReady($event)">
</div>


<ng-template #content let-modal>
     <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Información del punto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
          </button>
     </div>
     <div class="modal-body">
          <div class="container">
               <div class="row">
                    <div class="col-md-6">
                         <h3>Datos básicos</h3>
                         <p> <b>Fecha de relevamiento:</b> {{puntoSeleccionado.fechayhorarelevamiento | datosvacios}}</p>
                         <p> <b>Id de relevamiento:</b> {{puntoSeleccionado.idrelevamiento | datosvacios}}</p>
                         <p> <b>Tipo de relevamiento:</b> {{puntoSeleccionado.tiporelevamiento | datosvacios}}</p>
                         <p> <b>Tipo de vegetación:</b> {{puntoSeleccionado.subtiporelevamiento | datosvacios}}</p>
                         <p> <b>Tipo de vegetación</b> {{puntoSeleccionado.tipovegetacion | datosvacios}}</p>
                         <p> <b>Cantidad de troncos</b> {{puntoSeleccionado.cantidadtroncos | datosvacios}}</p>
                         <p> <b>Cantidad de brotes</b> {{puntoSeleccionado.cantidadrebrotes | datosvacios}}</p>                         
                         <p> <b>Sexo:</b> {{puntoSeleccionado.sexoarbol | datosvacios}}</p>
                         <p> <b>Asociaciones:</b> {{puntoSeleccionado.asociaciones | datosvacios}}</p>
                         <p> <b>Notas:</b> {{puntoSeleccionado.notas | datosvacios}}</p>
                    </div>
                    <div class="col-md-6">
                         <h3>Dimensiones</h3>                         
                         <p> <b>Altura del árbol:</b> {{puntoSeleccionado.alturaarbol | datosvacios}}</p>
                         <p> <b>Circunferencia base:</b> {{puntoSeleccionado.circunferenciabase | datosvacios}}</p>

                         <p> <b>Circunferencia tronco 1:</b> {{puntoSeleccionado.circunferenciatronco1 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 2:</b> {{puntoSeleccionado.circunferenciatronco2 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 3:</b> {{puntoSeleccionado.circunferenciaTronco3 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 4:</b> {{puntoSeleccionado.circunferenciatronco4 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 5:</b> {{puntoSeleccionado.circunferenciatronco5 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 6:</b> {{puntoSeleccionado.circunferenciatronco6 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 7:</b> {{puntoSeleccionado.circunferenciatronco7 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 8:</b> {{puntoSeleccionado.circunferenciatronco8 | datosvacios}}</p>
                         <p> <b>Circunferencia tronco 9:</b> {{puntoSeleccionado.circunferenciatronco9 | datosvacios}}</p>

                    </div>

                    <div class="col-md-12" style="padding-top: 1em;">
                         <h3>Imágenes</h3>
                         <div lightbox-group>
                              <img *ngFor="let item of fotosAMostrar" class="imagenes-listado"
                                   src="{{item}}" lightbox />
                         </div>
                    </div>

               </div>
          </div>
     </div>
</ng-template>



<router-outlet></router-outlet>