<div class="map" leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl"
     (leafletClick)="onClickOnMapEvent($event)" (leafletMapReady)="onMapReady($event)">
</div>


<ng-template #content let-modal>
     <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Información del punto</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
          </button>
     </div>
     <div class="modal-body">
          <div class="container">
               <div class="row">
                    <div class="col-md-6">
                         <h3>Datos basicos</h3>
                         <p> <b>Fecha relevamiento:</b> {{puntoSeleccionado.fechayhorarelevamiento | datosvacios}}</p>
                         <p> <b>Tipo relevamiento:</b> {{puntoSeleccionado.tiporelevamiento | datosvacios}}</p>
                         <p> <b>Tipo vegetacion</b> {{puntoSeleccionado.tipovegetacion | datosvacios}}</p>
                         <p> <b>Especie:</b> {{puntoSeleccionado.especie | datosvacios}}</p>
                         <p> <b>Sexo:</b> {{puntoSeleccionado.sexoarbol | datosvacios}}</p>
                         <p> <b>Descripción:</b> {{puntoSeleccionado.descripcion | datosvacios}}</p>
                         <p> <b>Observaciones:</b> {{puntoSeleccionado.observaciones | datosvacios}}</p>
                    </div>
                    <div class="col-md-6">
                         <h3>Dimensiones</h3>
                         <p> <b>Diametro corona raices superficiales:</b>
                              {{puntoSeleccionado.diametrodecoronaraicessuperficiales | datosvacios}}</p>
                         <p> <b> Diametro tronco:</b> {{puntoSeleccionado.diametrotronco | datosvacios}}</p>
                         <p> <b>Diametro copa:</b> {{puntoSeleccionado.diametrocopa | datosvacios}}</p>
                         <p> <b> Altura del arbol:</b> {{puntoSeleccionado.alturaarbol | datosvacios}}</p>
                    </div>

                    <div class="col-md-12" style="padding-top: 1em;">
                         <h3>Imágenes</h3>
                         <div lightbox-group>
                              <img *ngFor="let item of fotosAMostrar" class="imagenes-listado"
                                   src="{{item}}" lightbox />
                         </div>
                    </div>

               </div>
          </div>
     </div>
</ng-template>



<router-outlet></router-outlet>